<a href="https://colab.research.google.com/github/ColdCoffee21/Foundations-of-Data-Science/blob/master/Assgn_Dataframes1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# Colab library to upload files to notebook
from google.colab import files

In [ ]:
# Upload the dataset to collab
uploaded = files.upload()

Saving datasets_1189_2137_degrees-that-pay-back.csv to datasets_1189_2137_degrees-that-pay-back.csv

In [ ]:
#Q1
df = pd.read_csv('datasets_1189_2137_degrees-that-pay-back.csv')

In [ ]:
#Q2
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary',
       'Percent change from Starting to Mid-Career Salary',
       'Mid-Career 10th Percentile Salary',
       'Mid-Career 25th Percentile Salary',
       'Mid-Career 75th Percentile Salary',
       'Mid-Career 90th Percentile Salary'],
      dtype='object')

In [ ]:
#Q3
df.size

400

In [ ]:
#Q4
df.rename(columns={
    'Undergraduate Major': 'major', 'Starting Median Salary': 'Start Med Sal',
       'Mid-Career Median Salary':'Mid Career Med Sal',
       'Percent change from Starting to Mid-Career Salary': 'Start-Mid Career Sal Change',
       'Mid-Career 10th Percentile Salary':'10%tile Sal',
       'Mid-Career 25th Percentile Salary':'25%tile Sal',
       'Mid-Career 75th Percentile Salary':'75%tile Sal',
       'Mid-Career 90th Percentile Salary':'90%tileSal'
}).head(3)

                   major Start Med Sal  ...  75%tile Sal   90%tileSal
0             Accounting    $46,000.00  ...  $108,000.00  $152,000.00
1  Aerospace Engineering    $57,700.00  ...  $127,000.00  $161,000.00
2            Agriculture    $42,600.00  ...   $96,300.00  $150,000.00

[3 rows x 8 columns]

In [ ]:
#Q5
df.dtypes

Undergraduate Major                                   object
Starting Median Salary                                object
Mid-Career Median Salary                              object
Percent change from Starting to Mid-Career Salary    float64
Mid-Career 10th Percentile Salary                     object
Mid-Career 25th Percentile Salary                     object
Mid-Career 75th Percentile Salary                     object
Mid-Career 90th Percentile Salary                     object
dtype: object

In [ ]:
#Q6
df[df.columns[1:]] = df[df.columns[1:]].replace('[\$,]', '', regex=True).astype(float)
df.dtypes

Undergraduate Major                                   object
Starting Median Salary                               float64
Mid-Career Median Salary                             float64
Percent change from Starting to Mid-Career Salary    float64
Mid-Career 10th Percentile Salary                    float64
Mid-Career 25th Percentile Salary                    float64
Mid-Career 75th Percentile Salary                    float64
Mid-Career 90th Percentile Salary                    float64
dtype: object

In [ ]:
#Q7
df.loc[df['Percent change from Starting to Mid-Career Salary']>70, 'Undergraduate Major']

1       Aerospace Engineering
4                Architecture
5                 Art History
9                   Chemistry
11             Communications
12       Computer Engineering
13           Computer Science
17                  Economics
20                    English
21                       Film
22                    Finance
25                    Geology
28                    History
33    International Relations
34                 Journalism
36                  Marketing
37                       Math
42                 Philosophy
44                    Physics
45          Political Science
Name: Undergraduate Major, dtype: object

In [ ]:
#Q8
df.loc[df['Mid-Career 90th Percentile Salary']-df['Mid-Career 10th Percentile Salary']>40000, 'Starting Median Salary':'Mid-Career Median Salary']

    Starting Median Salary  Mid-Career Median Salary
0                  46000.0                   77100.0
1                  57700.0                  101000.0
2                  42600.0                   71900.0
3                  36800.0                   61500.0
4                  41600.0                   76800.0
5                  35800.0                   64900.0
6                  38800.0                   64800.0
7                  43000.0                   72100.0
8                  63200.0                  107000.0
9                  42600.0                   79900.0
10                 53900.0                   90500.0
11                 38100.0                   70000.0
12                 61400.0                  105000.0
13                 55900.0                   95500.0
14                 53700.0                   88900.0
15                 35000.0                   56300.0
16                 35900.0                   56900.0
17                 50100.0                   98600.0
18                 34900.0                   52000.0
19                 60900.0                  103000.0
20                 38000.0                   64700.0
21                 37900.0                   68500.0
22                 47900.0                   88300.0
23                 39100.0                   62600.0
24                 41200.0                   65500.0
25                 43500.0                   79500.0
26                 35700.0                   59800.0
27                 38800.0                   60600.0
28                 39200.0                   71000.0
29                 37800.0                   57500.0
30                 57700.0                   94700.0
31                 49100.0                   74800.0
32                 36100.0                   53200.0
33                 40900.0                   80900.0
34                 35600.0                   66700.0
35                 49200.0                   82300.0
36                 40800.0                   79600.0
37                 45400.0                   92400.0
38                 57900.0                   93600.0
39                 35900.0                   55000.0
40                 54200.0                   67000.0
41                 39900.0                   55300.0
42                 39900.0                   81200.0
43                 74300.0                   91700.0
44                 50300.0                   97300.0
45                 40800.0                   78200.0
46                 35900.0                   60400.0
47                 34100.0                   52000.0
48                 36500.0                   58200.0
49                 34000.0                   53100.0

In [ ]:
##PART 2
#Q1
uploaded = files.upload()

Saving salaries-by-college-type.csv to salaries-by-college-type (1).csv

In [ ]:
df = pd.read_csv('salaries-by-college-type.csv')
df.head(3)

                                   School Name  ... Mid-Career 90th Percentile Salary
0  Massachusetts Institute of Technology (MIT)  ...                       $220,000.00
1     California Institute of Technology (CIT)  ...                               NaN
2                          Harvey Mudd College  ...                               NaN

[3 rows x 8 columns]

In [ ]:
#Q2
df[df.columns[2:]] = df[df.columns[2:]].replace('[\$,]', '', regex=True).astype(float)
df.dtypes

School Name                           object
School Type                           object
Starting Median Salary               float64
Mid-Career Median Salary             float64
Mid-Career 10th Percentile Salary    float64
Mid-Career 25th Percentile Salary    float64
Mid-Career 75th Percentile Salary    float64
Mid-Career 90th Percentile Salary    float64
dtype: object

In [ ]:
import numpy as np

In [ ]:
#Q4
g = df.groupby('School Type')
g.mean().loc['Liberal Arts','Starting Median Salary']

45746.8085106383

In [ ]:
#Q5
df['School Name'].loc[((df['Mid-Career 25th Percentile Salary']==df['Mid-Career 25th Percentile Salary'].max() )& (df['School Type']=='Engineering'))]

1    California Institute of Technology (CIT)
Name: School Name, dtype: object

In [ ]:
#Q6
df['Starting Median Salary'].loc[(df['School Type']=='Party')].nlargest(2) #highest 2

19    52900.0
20    52000.0
Name: Starting Median Salary, dtype: float64

In [ ]:
df['Starting Median Salary'].loc[(df['School Type']=='Ivy League')].nlargest(2)

87    66500.0
89    63400.0
Name: Starting Median Salary, dtype: float64

In [ ]:
df['Starting Median Salary'].loc[(df['School Type']=='Party')].nsmallest(2)

32    41300.0
33    41400.0
Name: Starting Median Salary, dtype: float64

In [ ]:
df['Starting Median Salary'].loc[(df['School Type']=='Ivy League')].nsmallest(2)

92    56200.0
86    58000.0
Name: Starting Median Salary, dtype: float64

In [ ]:
#Q7
df['School Type'].loc[(df['Starting Median Salary']==df['Starting Median Salary'].max() )]

1    Engineering
Name: School Type, dtype: object

In [ ]:
#Q8
df['School Name'].loc[(df['School Type']=='Engineering')&(df['Starting Median Salary']>65000)]

0    Massachusetts Institute of Technology (MIT)
1       California Institute of Technology (CIT)
2                            Harvey Mudd College
Name: School Name, dtype: object

In [ ]:
#Q3 Fill na values with school type wise average 
for col in df.columns[2:]:
  #print(df[df[col].isnull()]['School Type'])
  df[col] = df.groupby('School Type').transform(lambda x: x.fillna(x.mean()))
df

                                      School Name  ... Mid-Career 90th Percentile Salary
0     Massachusetts Institute of Technology (MIT)  ...                           72200.0
1        California Institute of Technology (CIT)  ...                           75500.0
2                             Harvey Mudd College  ...                           71800.0
3    Polytechnic University of New York, Brooklyn  ...                           62400.0
4                                    Cooper Union  ...                           62200.0
..                                            ...  ...                               ...
264                  Austin Peay State University  ...                           37700.0
265                    Pittsburg State University  ...                           40400.0
266                      Southern Utah University  ...                           41900.0
267           Montana State University - Billings  ...                           37900.0
268                  Black Hills State University  ...                           35300.0

[269 rows x 8 columns]