<a href="https://colab.research.google.com/github/ColdCoffee21/Foundations-of-Data-Science/blob/master/eval_Multiple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import all necessary libraries here

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

## Import given dataset named 'dataset2.csv'
https://raw.githubusercontent.com/dhanyahari07/Data_Science/master/dataset2.csv

In [ ]:
def read_data():
    #Write your code
    data = pd.read_csv('https://raw.githubusercontent.com/dhanyahari07/Data_Science/master/dataset2.csv',sep=",",header=0)
    number_of_rows, number_of_columns = data.shape
    return data, number_of_rows, number_of_columns
read_data()

(    Count  Leverage      Shape    Change           Y
 0    92.0       NaN     Circle -3.644812  289.060197
 1    15.0      -2.0     Circle -1.424326    0.982643
 2    29.0      23.0     Square -3.747134   87.934926
 3    59.0      -9.0     Circle  0.544700  109.721169
 4    91.0      15.0     Circle  0.000000  268.400000
 ..    ...       ...        ...       ...         ...
 95   11.0      21.0     Square  5.412755   33.605768
 96  113.0       7.0     Circle -3.997526  258.306688
 97    NaN      38.0     Square -3.867530  423.029298
 98   20.0      43.0  Rectangle  1.146885  219.000000
 99   19.0       1.0     Circle  0.871632    1.368329

 [100 rows x 5 columns], 100, 5)

## Imputation: Fill missing data using "median" strategy

In [ ]:
def impute():
    data,n,m = read_data()
    # write your code here
    number_of_missing_values=(data.isnull().sum()).values.sum()
    imputed_data=pd.get_dummies(data,columns=['Shape'])
    imputed_data=imputed_data.fillna(data.median())
    return imputed_data, number_of_missing_values
impute()

(    Count  Leverage    Change  ...  Shape_Rectangle  Shape_Square  Shape_Triangle
 0    92.0      19.5 -3.644812  ...                0             0               0
 1    15.0      -2.0 -1.424326  ...                0             0               0
 2    29.0      23.0 -3.747134  ...                0             1               0
 3    59.0      -9.0  0.544700  ...                0             0               0
 4    91.0      15.0  0.000000  ...                0             0               0
 ..    ...       ...       ...  ...              ...           ...             ...
 95   11.0      21.0  5.412755  ...                0             1               0
 96  113.0       7.0 -3.997526  ...                0             0               0
 97   79.0      38.0 -3.867530  ...                0             1               0
 98   20.0      43.0  1.146885  ...                1             0               0
 99   19.0       1.0  0.871632  ...                0             0               0

 [100 rows x 8 columns], 11)

## Remove outliers using standard deviation method

In [ ]:
def remove_outliers():
    imputed_data,_ = impute()
    mean_change = imputed_data['Change'].mean()
    std_change = imputed_data['Change'].std()
    lower = mean_change - 2 * std_change
    upper = mean_change + 2 * std_change
    cleaned_data = imputed_data[(imputed_data['Change'] > lower) & (imputed_data['Change'] < upper)]
    number_of_rows_after_removal = cleaned_data.shape[0]
    return cleaned_data, number_of_rows_after_removal
remove_outliers()

(    Count  Leverage    Change  ...  Shape_Rectangle  Shape_Square  Shape_Triangle
 0    92.0      19.5 -3.644812  ...                0             0               0
 1    15.0      -2.0 -1.424326  ...                0             0               0
 2    29.0      23.0 -3.747134  ...                0             1               0
 3    59.0      -9.0  0.544700  ...                0             0               0
 4    91.0      15.0  0.000000  ...                0             0               0
 ..    ...       ...       ...  ...              ...           ...             ...
 95   11.0      21.0  5.412755  ...                0             1               0
 96  113.0       7.0 -3.997526  ...                0             0               0
 97   79.0      38.0 -3.867530  ...                0             1               0
 98   20.0      43.0  1.146885  ...                1             0               0
 99   19.0       1.0  0.871632  ...                0             0               0

 [94 rows x 8 columns], 94)

## Split dataset into variable components

In [ ]:
def test_train_split():
    data,_ = remove_outliers()
    X = data.drop(['Change'], axis=1)
    Y = data['Change'].values
    # write your code here
    return X, Y
test_train_split()

(    Count  Leverage           Y  ...  Shape_Rectangle  Shape_Square  Shape_Triangle
 0    92.0      19.5  289.060197  ...                0             0               0
 1    15.0      -2.0    0.982643  ...                0             0               0
 2    29.0      23.0   87.934926  ...                0             1               0
 3    59.0      -9.0  109.721169  ...                0             0               0
 4    91.0      15.0  268.400000  ...                0             0               0
 ..    ...       ...         ...  ...              ...           ...             ...
 95   11.0      21.0   33.605768  ...                0             1               0
 96  113.0       7.0  258.306688  ...                0             0               0
 97   79.0      38.0  423.029298  ...                0             1               0
 98   20.0      43.0  219.000000  ...                1             0               0
 99   19.0       1.0    1.368329  ...                0             0               0

 [94 rows x 7 columns],
 array([-3.64481238, -1.42432593, -3.74713383,  0.54470027,  0.        ,
         0.66731328,  1.21385616, -3.77192835, -1.22386078,  0.6378323 ,
         2.20150128,  0.84294723,  2.07693651,  0.19961572, -7.33548924,
        -2.95292308, -2.50392926,  1.84909167,  0.24911549,  0.24911549,
        -4.57347684,  3.30450632, -4.69548834,  4.86686531, -2.78878227,
         0.66793931, -0.30103477,  0.7247108 ,  0.9427831 ,  2.68431922,
        -6.19993628, -4.91123787, -0.8758152 ,  6.60756814,  0.29861526,
         3.55680723,  0.79825583, -0.63563417, -1.35085241, -0.68839269,
         3.43673345, -1.67861027,  0.7852018 , -3.44690366,  0.24911549,
         6.36908804,  4.75095978, -4.60225916,  0.        ,  1.89956502,
         0.78184567, -0.06932769, -5.60243225,  3.2585134 ,  0.5464674 ,
        -0.96221541, -2.55586914, -2.87045128,  2.8349371 , -2.80705487,
         4.56796804, -0.95526133,  5.2809552 ,  0.69134871,  0.36667488,
        -0.51999007, -0.32679895,  1.2890722 , -2.98117922,  0.24911549,
        -6.57016132,  1.55208142,  7.20156735,  5.50034485,  5.24593369,
         2.37354931,  2.30176739,  2.75002574,  3.74009857, -4.43229808,
        -1.02460974, -4.0619702 , -5.69061346,  0.        ,  0.84849465,
        -5.80321018, -0.34734685, -0.87760151,  0.        ,  5.41275502,
        -3.99752576, -3.86753032,  1.14688461,  0.87163199]))

## Split the dataset into test and train parts, use 33% for testing

In [ ]:
def X_Y_split():
    # write your code here
    X,Y = test_train_split()
    X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.33,random_state=0)
    return X_train, X_test, y_train, y_test
X_Y_split()

(    Count  Leverage           Y  ...  Shape_Rectangle  Shape_Square  Shape_Triangle
 72  118.0       1.0  325.000000  ...                1             0               0
 90   16.0       1.0 -148.000000  ...                1             0               0
 31   36.0      30.0   33.754251  ...                0             0               0
 20  148.0      47.0  147.242173  ...                0             1               0
 60    1.0      -1.0   33.868785  ...                0             0               1
 ..    ...       ...         ...  ...              ...           ...             ...
 96  113.0       7.0  258.306688  ...                0             0               0
 73   27.0       1.0   27.873716  ...                0             1               0
 70  106.0      44.0  213.983471  ...                0             0               0
 52    7.0      12.0    4.837178  ...                0             1               0
 49  139.0      20.0  280.787171  ...                0             0               1

 [62 rows x 7 columns],
     Count  Leverage           Y  ...  Shape_Rectangle  Shape_Square  Shape_Triangle
 2    29.0      23.0   87.934926  ...                0             1               0
 35   74.0      14.0  374.000000  ...                1             0               0
 62   12.0      16.0   10.661126  ...                0             1               0
 17  114.0     -10.0  120.877838  ...                0             1               0
 14    6.0      23.0  120.000000  ...                1             0               0
 67   54.0      18.0   58.517523  ...                0             1               0
 68  104.0      19.0  100.828790  ...                0             0               0
 85   83.0      41.0  249.082040  ...                0             0               1
 38   70.0      36.0  139.131610  ...                0             0               1
 84  103.0      36.0  310.534974  ...                0             0               0
 82  108.0      23.0  108.434752  ...                0             1               0
 7   145.0      39.0  144.460657  ...                0             0               0
 57   51.0      46.0  100.149385  ...                0             0               0
 95   11.0      21.0   33.605768  ...                0             1               0
 99   19.0       1.0    1.368329  ...                0             0               0
 66  127.0       9.0  369.000000  ...                1             0               0
 8    93.0      42.0  185.141655  ...                0             0               0
 25   74.0      23.0  447.000000  ...                1             0               0
 79   51.0     -10.0  135.443099  ...                0             1               0
 50   79.0      37.0   13.000000  ...                1             0               0
 30   82.0      34.0  246.949584  ...                0             1               0
 48  104.0       4.0  284.879951  ...                0             1               0
 28   84.0      12.0  250.480114  ...                0             1               0
 6   147.0      23.0  109.000000  ...                1             0               0
 47    9.0      10.0   93.000000  ...                1             0               0
 53  140.0      48.0  421.791667  ...                0             0               0
 80    8.0      -7.0    5.186572  ...                0             0               0
 88  143.0      -2.0  149.631461  ...                0             0               0
 83  100.0      42.0  461.000000  ...                1             0               0
 93  103.0       1.0  717.501770  ...                0             0               1
 92   80.0      21.0   76.997964  ...                0             0               0
 3    59.0      -9.0  109.721169  ...                0             0               0

 [32 rows x 7 columns],
 array([-0.32679895,  0.84849465,  0.7247108 ,  0.24911549,  0.5464674 ,
        -0.96221541, -4.0619702 ,  0.69134871, -2.80705487, -1.67861027,
         0.        , -2.95292308,  1.84909167,  3.43673345, -1.35085241,
         0.66731328, -5.80321018,  3.2585134 , -3.64481238,  0.29861526,
         0.9427831 ,  0.78184567,  0.84294723,  3.55680723,  4.86686531,
        -5.60243225,  2.20150128, -4.91123787,  1.55208142, -2.87045128,
         2.37354931, -1.42432593, -0.8758152 , -1.02460974, -7.33548924,
        -2.98117922,  0.24911549,  2.68431922,  1.89956502, -3.86753032,
         1.14688461,  0.24911549, -4.57347684,  0.        ,  7.20156735,
         0.66793931, -0.63563417,  4.75095978, -0.68839269, -0.51999007,
         2.8349371 ,  2.07693651, -6.57016132,  0.79825583,  3.30450632,
         0.        ,  0.6378323 , -3.99752576,  1.2890722 ,  0.36667488,
        -4.60225916,  0.24911549]),
 array([-3.74713383, -6.19993628, -2.55586914, -2.50392926,  0.19961572,
        -0.95526133,  5.2809552 , -4.43229808,  6.60756814,  3.74009857,
         2.30176739, -3.77192835, -0.06932769,  5.41275502,  0.87163199,
         4.56796804, -1.22386078, -4.69548834,  5.50034485,  6.36908804,
        -0.30103477, -3.44690366, -2.78878227,  1.21385616,  0.7852018 ,
         0.        ,  5.24593369, -5.69061346,  2.75002574, -0.87760151,
        -0.34734685,  0.54470027]))

## Create and train the model

In [ ]:
def fit():
    X_train,_,y_train,_ = X_Y_split()
    # write your code here
    regressor = LinearRegression()
    regressor.fit(X_train,y_train)
    return regressor
fit()

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Compute the RMSE error value using the predictions on the X_test data

In [ ]:
def error_values():
    regressor = fit()
    _,X_test,_,y_test = X_Y_split()
    # write your code here
    y_pred = regressor.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    rmse = round(np.sqrt(mse),3)
    return rmse
error_values()

3.677