<a href="https://colab.research.google.com/github/ColdCoffee21/Foundations-of-Data-Science/blob/master/eval_descriptive_statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. Import the data

In [ ]:
data={'Refinery Location':['Baytown','Baton Rouge','Texas City','Lake Charles','Whiting','Beaumont','Philadelphia','Pascagoula','Deer Park','Wood River','Port Arthur'],'Company':['Texas ExxonMobil','Louisiana ExxonMobil','Texas BP','Louisiana Citgo','Indiana BP','Texas ExxonMobil','Pennsylvania Sunoco','Mississippi Chevron','Texas partnership','Illinois WRB','Texas Premcor'],'Capacity':['567,000','503,000','467,720','429,500','410,000','348,500','335,000','330,000','329,800','306,000','289,000']}

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# create data frame

In [ ]:
# write your code here
df = pd.DataFrame(data)
df['Capacity']= df['Capacity'].str.replace(r'\D', '').astype('float')
df

   Refinery Location               Company  Capacity
0            Baytown      Texas ExxonMobil  567000.0
1        Baton Rouge  Louisiana ExxonMobil  503000.0
2         Texas City              Texas BP  467720.0
3       Lake Charles       Louisiana Citgo  429500.0
4            Whiting            Indiana BP  410000.0
5           Beaumont      Texas ExxonMobil  348500.0
6       Philadelphia   Pennsylvania Sunoco  335000.0
7         Pascagoula   Mississippi Chevron  330000.0
8          Deer Park     Texas partnership  329800.0
9         Wood River          Illinois WRB  306000.0
10       Port Arthur         Texas Premcor  289000.0

# 1. What are the values of the mean and the median? Compare the answers and state which you prefer as a measure of location for these data and why. 1 decimal place

In [ ]:
def mean_val():
  # write your code here
  return df.Capacity.mean() # write your code here
mean_val()

392320.0

In [ ]:
def median_val():
    # write your code here
    return df.Capacity.median() # write your code here
median_val()

348500.0

## Why??
Since mean and median are different, we infer that the data is skewed in nature. More specifically right skewed, therefore we prefer the median. The mean is more affected by the skewed area.

# 2. What are the values of the range and interquartile range? How do they differ? 1 decimal place

In [ ]:
def range_val():
  # write your code here
  return df.Capacity.max() - df.Capacity.min()
range_val()

278000.0

In [ ]:

def iqr_val():
  # write your code here
  return  df.Capacity.quantile(.75) - df.Capacity.quantile(.25)
iqr_val()

118710.0

# 3. What are the values of variance (1 decimal place) and standard deviation(round off to 1 decimal places) for these data?

In [ ]:
def std_val():
    # write your code here
    return round(df.Capacity.std(),1)
std_val()

90148.6

In [ ]:
def variance_val():
    # write your code here
    return round(df.Capacity.var(),1)
variance_val()

8126773200.0

# 4. What is the z score for Pascagoula,Mississippi? What is the z score for Texas City,Texas? Interpret these z scores. Round off to 2 decimal places

In [ ]:
def z_miss():
  # write your code here
  return round((df.loc[(df["Refinery Location"]=="Pascagoula") & (df["Company"]=="Mississippi Chevron")].Capacity-df.Capacity.mean())/df.Capacity.std(),2).values[0]
z_miss()

-0.69

In [ ]:
def z_texas():
  # write your code here
  return round((df.loc[(df["Refinery Location"]=="Texas City")].Capacity-df.Capacity.mean())/df.Capacity.std(),2).values[0]
z_texas()

0.84

# 5. Calculate the Pearsonian coefficient of skewness and kurtosis and comment on the skewness and kurtosis of this distribution. Round off to 2 decimal places

In [ ]:
def skew_val():
    # write your code here
    return round(df.Capacity.skew(),2) #Right, moderatley skewed
skew_val()

0.78

In [ ]:
def kurtosis_val():
    # write your code here
    return round(df.Capacity.kurtosis(),2) #Light tailed distribution
kurtosis_val()

-0.48

# 6. Assume normal distribution probabilty that the capacity is less than 330000 . Round off to 2 decimal places

In [ ]:
import scipy.stats as st
def probability_val():
  # write your code here
  stdev =df['Capacity'].std()
  mn =df['Capacity'].mean()
  z =(330000-mn)/stdev
  return round(st.norm.cdf(z),2)# write your code here
probability_val()

0.24


---

# Times to travel to school (Question 7 to 10)
Twenty students from a statistics class each collected a random sample of times on how long it took students to get to class from their homes. All the sample sizes were 30. The resulting means and standard deviations are listed.

```
means = [22, 31, 18, 27, 20, 17, 26, 34, 23, 29, 27, 24, 14, 29, 37, 23, 26, 21, 30, 29]
stdevs = [3.7, 4.6, 2.4, 1.9, 3, 2.8, 1.9, 4.2, 2.6, 2.1, 1.4, 2.2, 3.1, 2.4, 2.8, 2.7, 1.8, 2, 2.2, 2.8]
```

# Using the above information, construct a dataframe named 'tt' in the code block below. Apart from the row index, the dataframe should have two columns namely 'means' and 'stdevs'. Also, use this dataframe to answer the following questions.

In [ ]:
# write your code here
data2 = {'means':  [22, 31, 18, 27, 20, 17, 26, 34, 23, 29, 27, 24, 14, 29, 37, 23, 26, 21, 30, 29],
        'stdevs': [3.7, 4.6, 2.4, 1.9, 3, 2.8, 1.9, 4.2, 2.6, 2.1, 1.4, 2.2, 3.1, 2.4, 2.8, 2.7, 1.8, 2, 2.2, 2.8] }
tt = pd.DataFrame(data2, columns = ['means', 'stdevs'])
tt

    means  stdevs
0      22     3.7
1      31     4.6
2      18     2.4
3      27     1.9
4      20     3.0
5      17     2.8
6      26     1.9
7      34     4.2
8      23     2.6
9      29     2.1
10     27     1.4
11     24     2.2
12     14     3.1
13     29     2.4
14     37     2.8
15     23     2.7
16     26     1.8
17     21     2.0
18     30     2.2
19     29     2.8

# 7. From the values in the dataframe, use pandas functions to print a good estimate for the population mean and standard deviation. Display as a tuple

In [ ]:
def estimate_mean_std():
    # write your code here
    return (round(tt.means.mean(),2), round(tt.stdevs.mean()* np.sqrt(len(tt)),2))
estimate_mean_std()

(25.35, 11.76)

# 8. Calculate the mean and standard deviation of the means.  Display as a tuple. 2 decimal places

In [ ]:
def mean_stdev():
    # write your code here
    return (round(tt['means'].mean(),2),round(tt['means'].std(),2))
mean_stdev()

(25.35, 5.78)

# 9. Check the sampling error for students 3, 7, and 14 (Indices 2, 6 and 13).  Display as a tuple

In [ ]:
def error_val():
    mean=tt['means'].values
    m=tt['means'].mean()
    return (round((mean[2]-m)/m,2),round((mean[6]-m)/m,2),round((mean[13]-m)/m,2))
error_val()

(-0.29, 0.03, 0.14)

# 10. Compare the standard deviation of the sample of the 20 means. Is that equal to the standard deviation from student 3 divided by the square root of the sample size? How about for student 7, or 14? (Indices 2, 6 and 13). Print "True" or "False" boolean value for comparison done for each student.  Display as a tuple

In [ ]:
import math
def compare_val():
    std=tt['means'].std()
    std1=tt['means'][2]/math.sqrt(20)
    std2=tt['means'][6]/math.sqrt(20)
    std3=tt['means'][13]/math.sqrt(20)
    er1=std-std1
    if(er1==0):
        er1=True
    else:
        er1=False
    er2=std-std2
    if(er2==0):
        er2=True
    else:
        er2=False
    er3=std-std3
    if(er3==0):
        er3=True
    else:
        er3=False
    return (er1,er2,er3)
compare_val()

(False, False, False)