<a href="https://colab.research.google.com/github/ColdCoffee21/Foundations-of-Data-Science/blob/master/Outliers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Data Science/salaries.csv')
df.head(10)

     salary
0     96454
1     29557
2     47175
3     12419
4  33333333
5     90938
6     76404
7     85815
8   9999999
9     73611

In [ ]:
df.shape

(6000, 1)

In [ ]:
data_mean, data_std = np.mean(df['salary']), np.std(df['salary'])

In [ ]:
cut_off = data_std * 3

In [ ]:
lower, upper = data_mean-cut_off, data_mean+cut_off

In [ ]:
outliers = [x for x in df['salary'] if (x<lower) or (x>upper)]
outliers

[33333333,
 66666666,
 88888888,
 99999999,
 66666666,
 99999999,
 55555555,
 66666666,
 22222222,
 22222222,
 55555555,
 88888888,
 99999999,
 66666666,
 55555555,
 33333333,
 99999999,
 55555555,
 55555555,
 55555555,
 99999999,
 88888888,
 99999999,
 55555555,
 99999999]

In [ ]:
outliers_removed = [x for x in df['salary'] if (x>lower) or (x<upper)]
outliers_removed

[96454,
 29557,
 47175,
 12419,
 33333333,
 90938,
 76404,
 85815,
 9999999,
 73611,
 88624,
 61980,
 21875,
 83817,
 77572,
 57788,
 13968,
 85978,
 43388,
 80532,
 64804,
 15328,
 27068,
 32286,
 18678,
 36545,
 96768,
 76381,
 52003,
 61701,
 54058,
 60690,
 71779,
 45335,
 63292,
 84293,
 52007,
 38351,
 83067,
 5555555,
 99958,
 66120,
 33051,
 26564,
 52418,
 22375,
 25176,
 37110,
 63849,
 22018,
 18214,
 80841,
 40513,
 43311,
 98268,
 66666666,
 48007,
 35254,
 45312,
 24199,
 12480,
 12873,
 14793,
 74507,
 19384,
 53896,
 55719,
 7777777,
 66184,
 77321,
 39967,
 33767,
 27917,
 70816,
 30798,
 79174,
 17986,
 39009,
 14771,
 49949,
 15624,
 96491,
 60988,
 21283,
 92711,
 45217,
 39819,
 66941,
 88888888,
 98986,
 15199,
 42262,
 56765,
 23265,
 70128,
 94359,
 27628,
 42275,
 79769,
 93863,
 98629,
 70142,
 13971,
 73415,
 12951,
 51938,
 99999999,
 71644,
 79829,
 15370,
 65770,
 53309,
 84171,
 54610,
 31942,
 26105,
 47319,
 70199,
 21103,
 25486,
 99077,
 61626,
 30341,
 95329,
 29322,
 89407,
 11254,
 99321,
 67676,
 64229,
 12909,
 38347,
 66666666,
 31562,
 59139,
 20589,
 96251,
 90138,
 91701,
 89251,
 56084,
 36801,
 56919,
 73290,
 15114,
 14496,
 3333333,
 55307,
 16570,
 59680,
 97351,
 86242,
 66134,
 25802,
 75048,
 50754,
 17023,
 54771,
 26505,
 85978,
 18850,
 13168,
 93881,
 97308,
 77939,
 25672,
 68411,
 73388,
 87999,
 88410,
 30095,
 24818,
 38133,
 18581,
 30401,
 65682,
 58882,
 60252,
 16151,
 54934,
 13060,
 17187,
 44470,
 84002,
 33293,
 99999999,
 36933,
 75699,
 11482,
 95318,
 88048,
 99685,
 62501,
 15001,
 42041,
 21900,
 42665,
 16856,
 79136,
 64491,
 71459,
 65567,
 35709,
 59947,
 65357,
 55555555,
 20114,
 83261,
 95743,
 37525,
 35898,
 89036,
 24259,
 47272,
 64373,
 16564,
 79394,
 85746,
 48742,
 73569,
 64459,
 51824,
 90520,
 27150,
 96710,
 23203,
 33414,
 87372,
 79280,
 76203,
 96345,
 63891,
 20194,
 68021,
 54946,
 62994,
 24896,
 12674,
 46183,
 62940,
 84970,
 13984,
 90775,
 89576,
 83958,
 40045,
 63312,
 57993,
 89790,
 38112,
 50182,
 56963,
 34224,
 88778,
 39478,
 12758,
 74595,
 13196,
 27103,
 48295,
 44661,
 40145,
 86049,
 66666666,
 45142,
 50913,
 46463,
 74209,
 55485,
 64497,
 38475,
 56100,
 53636,
 41858,
 38696,
 13670,
 90754,
 66554,
 97236,
 44542,
 57951,
 74129,
 18692,
 72693,
 90796,
 75495,
 20584,
 78622,
 54413,
 21056,
 87442,
 51574,
 68076,
 10334,
 54409,
 94923,
 90126,
 74039,
 17042,
 42546,
 22222222,
 33700,
 56311,
 70236,
 41707,
 15500,
 73605,
 12655,
 10876,
 37481,
 12140,
 73725,
 83055,
 42803,
 66717,
 82225,
 54834,
 54312,
 15657,
 76049,
 72861,
 77238,
 36746,
 62614,
 41372,
 12470,
 69352,
 12150,
 92634,
 44505,
 37989,
 20431,
 88546,
 23219,
 38654,
 72179,
 45352,
 52491,
 84431,
 25192,
 33629,
 77909,
 17706,
 80351,
 29659,
 51586,
 62770,
 20531,
 40463,
 64488,
 42234,
 81692,
 21185,
 56674,
 92325,
 36869,
 56756,
 84129,
 62880,
 17740,
 62002,
 10718,
 22222222,
 67958,
 39196,
 41145,
 25251,
 80719,
 83246,
 41436,
 74199,
 54244,
 74845,
 21819,
 59207,
 62517,
 63261,
 56143,
 51915,
 80613,
 28678,
 98580,
 37492,
 69173,
 77170,
 15746,
 26276,
 77398,
 33071,
 36508,
 78355,
 90062,
 48384,
 16393,
 87364,
 41861,
 89888,
 11815,
 77815,
 22543,
 86199,
 48745,
 53725,
 84749,
 27747,
 81659,
 27887,
 88153,
 45197,
 54386,
 47517,
 78578,
 70177,
 46331,
 54466,
 51923,
 95484,
 38935,
 99375,
 83086,
 76505,
 85148,
 17868,
 44713,
 13509,
 58799,
 89663,
 13473,
 44037,
 92967,
 51258,
 71531,
 87161,
 67482,
 14273,
 29666,
 62971,
 86337,
 73097,
 53450,
 87215,
 10880,
 72054,
 73806,
 58904,
 18152,
 37539,
 62106,
 34046,
 35574,
 56937,
 51786,
 50637,
 46411,
 85036,
 10894,
 23719,
 74064,
 43458,
 74739,
 75999,
 31202,
 64337,
 33222,
 91119,
 83593,
 76977,
 33379,
 31896,
 93277,
 14852,
 40760,
 57133,
 49594,
 64775,
 56788,
 44160,
 62757,
 76097,
 92090,
 63165,
 24949,
 82148,
 43707,
 91047,
 60573,
 36571,
 88247,
 45313,
 81771,
 82119,
 79746,
 35013,
 29119,
 55460,
 47351,
 11481,
 19776,
 81594,
 93482,
 77921,
 64462,
 39936,
 91373,
 13665,
 62552,
 12750,
 88933,
 61417,
 52781,
 76009,
 40106,
 64749,
 51252,
 77277,
 92985,
 55555555,
 97006,
 35076,
 27740,
 24558,
 83386,
 89886,
 54588,
 11946,
 92349,
 54853,
 34749,
 75903,
 98169,
 66854,
 91449,
 53525,
 49754,
 40659,
 37069,
 98175,
 39640,
 76482,
 25942,
 51973,
 69137,
 59114,
 31214,
 88920,
 77823,
 36833,
 18382,
 25253,
 93642,
 38385,
 25024,
 53485,
 58537,
 39379,
 58510,
 82642,
 83244,
 15392,
 21609,
 52669,
 43352,
 44761,
 18804,
 14770,
 48129,
 91848,
 87472,
 92270,
 36188,
 39589,
 98667,
 56863,
 21744,
 17381,
 49707,
 16927,
 24781,
 79548,
 94493,
 58621,
 10964,
 67135,
 64926,
 98467,
 80895,
 74652,
 82148,
 93622,
 11615,
 70081,
 44547,
 59926,
 88916,
 54439,
 97790,
 89941,
 21893,
 82815,
 46705,
 65404,
 14105,
 97500,
 13762,
 50623,
 95764,
 27583,
 88482,
 51900,
 17522,
 50696,
 23305,
 21617,
 51638,
 17599,
 11721,
 25895,
 46244,
 71533,
 43394,
 88888888,
 23768,
 45978,
 80888,
 11935,
 90171,
 90608,
 88962,
 75023,
 22163,
 76817,
 10424,
 51098,
 62338,
 11405,
 48500,
 29082,
 19047,
 64973,
 88853,
 37510,
 68375,
 49182,
 67455,
 78598,
 67625,
 60632,
 93151,
 68602,
 84411,
 42697,
 60405,
 43781,
 31094,
 49267,
 30283,
 77460,
 41762,
 50428,
 57000,
 53778,
 62048,
 28053,
 58551,
 88851,
 57121,
 80543,
 56122,
 88229,
 96783,
 72516,
 62932,
 71559,
 22228,
 44317,
 99431,
 98324,
 99035,
 50560,
 18476,
 86150,
 21959,
 14604,
 97647,
 48537,
 83105,
 80633,
 99480,
 59476,
 11276,
 39050,
 67345,
 66191,
 50444,
 96125,
 30589,
 45861,
 95076,
 38634,
 46703,
 84263,
 81977,
 80112,
 70976,
 40169,
 89207,
 35536,
 68740,
 53697,
 67908,
 72876,
 12345,
 50444,
 39306,
 37060,
 69428,
 51704,
 27074,
 87206,
 85416,
 72207,
 34152,
 75140,
 26163,
 58996,
 59940,
 15405,
 99795,
 88067,
 74065,
 74803,
 73472,
 10757,
 22064,
 51824,
 78150,
 36357,
 45648,
 60515,
 86912,
 66933,
 45824,
 73367,
 28269,
 67342,
 88599,
 34053,
 23587,
 17228,
 23048,
 72588,
 65440,
 67156,
 66583,
 44962,
 75202,
 77697,
 84305,
 18174,
 29436,
 16507,
 97832,
 84746,
 93204,
 59893,
 75538,
 60248,
 85262,
 78314,
 73404,
 76492,
 82726,
 95744,
 89785,
 29681,
 57918,
 16983,
 33511,
 57287,
 29488,
 41942,
 47886,
 52822,
 99818,
 80095,
 55978,
 11915,
 56201,
 76569,
 60863,
 28561,
 49573,
 54770,
 82384,
 86005,
 48864,
 58764,
 68406,
 51683,
 48583,
 40530,
 74384,
 43920,
 99152,
 16066,
 99076,
 74732,
 87198,
 82791,
 36221,
 45223,
 99121,
 16744,
 84298,
 86897,
 30521,
 83536,
 14484,
 26374,
 68510,
 58670,
 46518,
 36473,
 78883,
 83948,
 78395,
 88977,
 71666,
 82209,
 97415,
 27165,
 78740,
 87343,
 61191,
 76453,
 38295,
 55673,
 38613,
 24421,
 18858,
 59714,
 99999999,
 14777,
 20204,
 36902,
 95006,
 64265,
 41951,
 43319,
 71216,
 86836,
 53858,
 57510,
 98018,
 38882,
 74134,
 49250,
 59802,
 60396,
 99199,
 71944,
 97325,
 57628,
 29094,
 13862,
 56071,
 62237,
 82198,
 78253,
 18939,
 99508,
 95760,
 60356,
 44659,
 67684,
 67337,
 30042,
 27323,
 17521,
 55578,
 23339,
 49607,
 11742,
 89167,
 11114,
 50080,
 30567,
 40894,
 93037,
 46470,
 29242,
 43571,
 23220,
 25133,
 83915,
 42765,
 82022,
 71624,
 24060,
 25173,
 10066,
 90968,
 71807,
 73088,
 15403,
 93252,
 94887,
 37910,
 93384,
 20507,
 90615,
 68635,
 78984,
 74171,
 73893,
 60678,
 74903,
 14125,
 24170,
 58514,
 19435,
 77832,
 62452,
 69588,
 98309,
 73563,
 45614,
 34661,
 81123,
 86713,
 21273,
 95444,
 14560,
 86171,
 85780,
 93617,
 78639,
 49260,
 22993,
 27733,
 62803,
 52559,
 66279,
 98557,
 95475,
 25852,
 83900,
 34790,
 93414,
 37074,
 15940,
 32106,
 29703,
 32035,
 11854,
 77801,
 90576,
 55848,
 76763,
 45682,
 26209,
 89957,
 13843,
 78978,
 40223,
 23012,
 97390,
 64757,
 45112,
 27626,
 79922,
 51397,
 96373,
 67971,
 51704,
 28289,
 34317,
 54240,
 44701,
 66820,
 18922,
 12802,
 34117,
 60088,
 75549,
 76499,
 75134,
 77627,
 70382,
 64658,
 36582,
 26773,
 37832,
 34714,
 98575,
 37151,
 12871,
 66816,
 39374,
 43287,
 ...]

In [ ]:
data_mean

349050.10216666665

In [ ]:
data_std

4758049.22084576

In [ ]:
print("Number of outliers %d" % len(outliers))
print("Number of non outliers %d" % len(outliers_removed))

Number of outliers 25
Number of non outliers 6000

In [ ]:
print("Q2 quantile of arr : ", df.quantile(.50)) 
print("Q1 quantile of arr : ", df.quantile(.25)) 
print("Q3 quantile of arr : ", df.quantile(.75)) 
print("100th quantile of arr : ", df.quantile(.1))
print("iqr : ", df.quantile(.75) - df.quantile(.25))

Q2 quantile of arr :  salary    54663.0
Name: 0.5, dtype: float64
Q1 quantile of arr :  salary    32628.5
Name: 0.25, dtype: float64
Q3 quantile of arr :  salary    77410.0
Name: 0.75, dtype: float64
100th quantile of arr :  salary    18714.5
Name: 0.1, dtype: float64
iqr :  salary    44781.5
dtype: float64

In [ ]:
q1,q2,q3=df['salary'].quantile([.25,.5,.75])
iqr=q3-q1
out=[p for p in df['salary'] if (p<q1-1.5*iqr) or (p>q3+1.5*iqr)]
len(out)

30

In [ ]:
from sklearn.ensemble import IsolationForest

In [ ]:
model = IsolationForest(n_estimators=50, max_samples='auto', contamination=float(0.1), max_features=1.0, random_state=1)
model.fit(df[['salary']])

IsolationForest(behaviour='deprecated', bootstrap=False, contamination=0.1,
                max_features=1.0, max_samples='auto', n_estimators=50,
                n_jobs=None, random_state=1, verbose=0, warm_start=False)

In [ ]:
df['scores'] = model.decision_function(df[['salary']])
df['anomaly'] = model.predict(df[['salary']])
df.head(10)

     salary    scores  anomaly
0     96454  0.002101        1
1     29557  0.042056        1
2     47175  0.090657        1
3     12419 -0.045839       -1
4  33333333 -0.234977       -1
5     90938  0.027426        1
6     76404  0.071841        1
7     85815  0.067033        1
8   9999999 -0.161412       -1
9     73611  0.070507        1

In [ ]:
an = df.loc[df['anomaly']==-1]
an_ind = list(an.index)
print(an.shape)

(600, 3)

In [ ]:
#how they got anomaly count

In [ ]:
#Local outlier factor
from sklearn.neighbors import LocalOutlierFactor
model = LocalOutlierFactor(novelty=True)
model.fit(df[['salary']])

LocalOutlierFactor(algorithm='auto', contamination='auto', leaf_size=30,
                   metric='minkowski', metric_params=None, n_jobs=None,
                   n_neighbors=20, novelty=True, p=2)

In [ ]:
df['scores'] = model.decision_function(df[['salary']])
df['anomaly'] = model.predict(df[['salary']])
df.head(10)

     salary        scores  anomaly
0     96454      0.492574        1
1     29557      0.466587        1
2     47175      0.399883        1
3     12419      0.522965        1
4  33333333 -42737.796378       -1
5     90938      0.461231        1
6     76404      0.491208        1
7     85815      0.451803        1
8   9999999 -45681.603049       -1
9     73611      0.495589        1

In [ ]:
#Elliptical Envelope
from sklearn.covariance import EllipticEnvelope
model = EllipticEnvelope(0.01)
model.fit(df[['salary']])

EllipticEnvelope(assume_centered=False, contamination=0.1, random_state=None,
                 store_precision=0.01, support_fraction=None)

In [ ]:
df['scores'] = model.decision_function(df[['salary']])
df['anomaly'] = model.predict(df[['salary']])
df.head(10)

     salary        scores  anomaly
0     96454 -9.894581e-02       -1
1     29557  1.514528e+00        1
2     47175  2.378141e+00        1
3     12419 -2.095885e-01       -1
4  33333333 -1.643630e+06       -1
5     90938  5.365942e-01        1
6     76404  1.778674e+00        1
7     85815  1.045962e+00        1
8   9999999 -1.467882e+05       -1
9     73611  1.945540e+00        1

In [ ]:
#Elliptical Envelope
from sklearn.svm import OneClassSVM
model = OneClassSVM(nu=0.01)
model.fit(df[['salary']])

OneClassSVM(cache_size=200, coef0=0.0, degree=3, gamma='scale', kernel='rbf',
            max_iter=-1, nu=0.01, shrinking=True, tol=0.001, verbose=False)

In [ ]:
df['scores'] = model.decision_function(df[['salary']])
df['anomaly'] = model.predict(df[['salary']])
df.head(10)

     salary     scores  anomaly
0     96454   0.029090        1
1     29557   0.008111        1
2     47175   0.014739        1
3     12419   0.000907        1
4  33333333 -29.085615       -1
5     90938   0.027790        1
6     76404   0.023996        1
7     85815   0.026514        1
8   9999999 -27.751652       -1
9     73611   0.023205        1

In [ ]:
df.loc[df['anomaly']==-1].count()

salary     598
scores     598
anomaly    598
dtype: int64

In [ ]:
pip install dtale

Collecting dtale
  Downloading https://files.pythonhosted.org/packages/0d/08/a8707961dcf5e7265b457cb7f344f1024c6d24ef2a1f7fd81d49e589442a/dtale-1.16.0-py2.py3-none-any.whl (7.6MB)
     || 7.6MB 2.7MB/s
Collecting lz4; python_version > "3.0"
  Downloading https://files.pythonhosted.org/packages/15/6a/ea95dd9a9957143636cfad5037637abec91016b9bde519d3edf4708e3d83/lz4-3.1.0-cp36-cp36m-manylinux2010_x86_64.whl (1.8MB)
     || 1.8MB 36.8MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from dtale) (2.23.0)
Requirement already satisfied: Flask>=1.0 in /usr/local/lib/python3.6/dist-packages (from dtale) (1.1.2)
Requirement already satisfied: itsdangerous in /usr/local/lib/python3.6/dist-packages (from dtale) (1.1.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from dtale) (1.1.2)
Collecting dash-bootstrap-components; python_version > "3.0"
  Downloading https://files.pythonhosted.org/packages/97/23/fc5bcf440d26725b809daf61e5e919a9e63f0aa993d0a5c0d54920705b75/dash_bootstrap_components-0.10.7-py2.py3-none-any.whl (185kB)
     || 194kB 43.8MB/s
Collecting squarify
  Downloading https://files.pythonhosted.org/packages/0b/2b/2e77c35326efec19819cd1d729540d4d235e6c2a3f37658288a363a67da5/squarify-0.4.3-py3-none-any.whl
Requirement already satisfied: scikit-learn>='0.21.0 in /usr/local/lib/python3.6/dist-packages (from dtale) (0.22.2.post1)
Requirement already satisfied: xarray in /usr/local/lib/python3.6/dist-packages (from dtale) (0.15.1)
Collecting dash-daq
  Downloading https://files.pythonhosted.org/packages/16/c1/9c6adfc3646990965a5b2ca073f579cc9c09d15553fcfcd83aefd1255494/dash_daq-0.5.0.tar.gz (642kB)
     || 645kB 48.9MB/s
Requirement already satisfied: statsmodels in /usr/local/lib/python3.6/dist-packages (from dtale) (0.10.2)
Collecting dash-colorscales
  Downloading https://files.pythonhosted.org/packages/d5/24/de9318acd52989d77135a8497c8be536442b725473684ed4e1ab999b2051/dash_colorscales-0.0.4.tar.gz (62kB)
     || 71kB 8.9MB/s
Requirement already satisfied: future>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from dtale) (0.16.0)
Collecting flask-ngrok; python_version > "3.0"
  Downloading https://files.pythonhosted.org/packages/af/6c/f54cb686ad1129e27d125d182f90f52b32f284e6c8df58c1bae54fa1adbc/flask_ngrok-0.0.25-py3-none-any.whl
Collecting dash>=1.5.0
  Downloading https://files.pythonhosted.org/packages/df/3c/063e015491023a093229d98d80687ded6de229cfe4068882cd0e31d8d883/dash-1.16.3.tar.gz (72kB)
     || 81kB 8.5MB/s
Collecting Flask-Compress
  Downloading https://files.pythonhosted.org/packages/2f/83/dfac4e00a20b094a6c7870e97fc30e3e9e2eedc41c1d02c13d0539810dc2/Flask-Compress-1.6.0.tar.gz
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from dtale) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from dtale) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->dtale) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->dtale) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->dtale) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->dtale) (1.24.3)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from Flask>=1.0->dtale) (1.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=1.0->dtale) (2.11.2)
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=1.0->dtale) (7.1.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas->dtale) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->dtale) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->dtale) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>='0.21.0->dtale) (0.16.0)
Requirement already satisfied: setuptools>=41.2 in /usr/local/lib/python3.6/dist-packages (from xarray->dtale) (50.3.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels->dtale) (0.5.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from dash>=1.5.0->dtale) (4.4.1)
Collecting dash_renderer==1.8.2
  Downloading https://files.pythonhosted.org/packages/c4/f6/bd39b1cb56f7e2156163e8fc344c288c416cff659abf9bd5ed918e4b729b/dash_renderer-1.8.2.tar.gz (1.0MB)
     || 1.0MB 49.0MB/s
Collecting dash-core-components==1.12.1
  Downloading https://files.pythonhosted.org/packages/bb/9e/979263a03963d7ac70229ae9a9a118640dd3ef9b57c5d0c89d3d18f073e7/dash_core_components-1.12.1.tar.gz (3.4MB)
     || 3.4MB 44.3MB/s
Collecting dash-html-components==1.1.1
  Downloading https://files.pythonhosted.org/packages/02/ba/bb9427c62feb25bfbaf243894eeeb4e7c67a92b426ed0575a167100e436e/dash_html_components-1.1.1.tar.gz (188kB)
     || 194kB 38.9MB/s
Collecting dash-table==4.10.1
  Downloading https://files.pythonhosted.org/packages/a9/85/2408091d71af9af8c5ce6855730ff2e3e443ba8a667864e22f0881f4d785/dash_table-4.10.1.tar.gz (1.8MB)
     || 1.8MB 48.3MB/s
Collecting brotli
  Downloading https://files.pythonhosted.org/packages/b4/d3/7c98f05b7b9103e2f3a112ba42f269c798155b3e5404fb80bb8f823aaebe/Brotli-1.0.9-cp36-cp36m-manylinux1_x86_64.whl (357kB)
     || 358kB 46.9MB/s
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10.1->Flask>=1.0->dtale) (1.1.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->dash>=1.5.0->dtale) (1.3.3)
Building wheels for collected packages: dash-daq, dash-colorscales, dash, Flask-Compress, dash-renderer, dash-core-components, dash-html-components, dash-table
  Building wheel for dash-daq (setup.py) ... done
  Created wheel for dash-daq: filename=dash_daq-0.5.0-cp36-none-any.whl size=669704 sha256=22955ab999a931d6ad57645be3ad1076ffad5fc4648eb22f851940cd2e89c4fa
  Stored in directory: /root/.cache/pip/wheels/1c/9c/f7/84731716eaa9fc952cdbdd1f87df3ca9b8805c317c609efcd6
  Building wheel for dash-colorscales (setup.py) ... done
  Created wheel for dash-colorscales: filename=dash_colorscales-0.0.4-cp36-none-any.whl size=62599 sha256=c7b9d0ed8dc766530486d0f9c39295e431f9eb02542028d69457e71a7cd1fcdd
  Stored in directory: /root/.cache/pip/wheels/0e/4a/1c/3490cfe6a59299b06917af6626a969c8fb7caead39b2d74cf2
  Building wheel for dash (setup.py) ... done
  Created wheel for dash: filename=dash-1.16.3-cp36-none-any.whl size=82488 sha256=f2644ac261abb38dace43c3dd56483eb6414f405550bd515d60690b508e87f25
  Stored in directory: /root/.cache/pip/wheels/8f/56/d1/def235a9ef977abf4476d1ad7a3ad8d9af7537445ce01c5e16
  Building wheel for Flask-Compress (setup.py) ... done
  Created wheel for Flask-Compress: filename=Flask_Compress-1.6.0-cp36-none-any.whl size=6454 sha256=de19708b17c57bf5e5082edc5e91538b62ab1157eeeb155a536dc5c16572140f
  Stored in directory: /root/.cache/pip/wheels/e1/16/ab/03ca08a4454b59a3fb79f800d06ec08ebcb3307c5cd64dd4bf
  Building wheel for dash-renderer (setup.py) ... done
  Created wheel for dash-renderer: filename=dash_renderer-1.8.2-cp36-none-any.whl size=1013929 sha256=a2901911c13730a9d740b7a53244e199eef4ffca9d1276f08750fb290a87d12f
  Stored in directory: /root/.cache/pip/wheels/c8/8f/0f/9cf71e7362b302350e10fcc9ca7f0377b84a6ea14445c2d6aa
  Building wheel for dash-core-components (setup.py) ... done
  Created wheel for dash-core-components: filename=dash_core_components-1.12.1-cp36-none-any.whl size=3475396 sha256=f4a51f73c01ad3f0b18fbe6494ebf4fd97ba30173c26fc2a827535b9a83a5ec3
  Stored in directory: /root/.cache/pip/wheels/29/11/a0/0cf8183b6f7df4716bec25b0e089043cd161bb58accc6633a6
  Building wheel for dash-html-components (setup.py) ... done
  Created wheel for dash-html-components: filename=dash_html_components-1.1.1-cp36-none-any.whl size=427894 sha256=28ceb154e6de2e222c1f4a9d2d409e81ac4ee230e65cccf444021618782b1c1a
  Stored in directory: /root/.cache/pip/wheels/8d/01/46/78e4de185a8a4a2da8ba31da16c52170f036d4cebeeb6e07a2
  Building wheel for dash-table (setup.py) ... done
  Created wheel for dash-table: filename=dash_table-4.10.1-cp36-none-any.whl size=1824995 sha256=6c05982cd5e8480c52783c120ef81dca0fe687859c06fc261b3477d28ef43907
  Stored in directory: /root/.cache/pip/wheels/3d/c2/fd/50a7ea0b9aef63cf3bf3c5fb22799b8ba9a97ea8f9b14b7124
Successfully built dash-daq dash-colorscales dash Flask-Compress dash-renderer dash-core-components dash-html-components dash-table
Installing collected packages: lz4, brotli, Flask-Compress, dash-renderer, dash-core-components, dash-html-components, dash-table, dash, dash-bootstrap-components, squarify, dash-daq, dash-colorscales, flask-ngrok, dtale
Successfully installed Flask-Compress-1.6.0 brotli-1.0.9 dash-1.16.3 dash-bootstrap-components-0.10.7 dash-colorscales-0.0.4 dash-core-components-1.12.1 dash-daq-0.5.0 dash-html-components-1.1.1 dash-renderer-1.8.2 dash-table-4.10.1 dtale-1.16.0 flask-ngrok-0.0.25 lz4-3.1.0 squarify-0.4.3

In [ ]:
d = sns.load_dataset('planets')
d.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
import dtale 
import dtale.app as dtale_app
dtale_app.USE_COLAB = True

In [ ]:
dtale.show(d)

https://x8zgr5k812l-496ff2e9c6d22116-40000-colab.googleusercontent.com/dtale/main/2

In [ ]:
#Import your case study dataset to the dtale package and do an in detail extensive eda of it.