<a href="https://colab.research.google.com/github/ColdCoffee21/Foundations-of-Data-Science/blob/master/eval_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EVALUATION - 2

Telecom Churn Datasets

Each row represents a customer; each column contains customer’s attributes. The datasets have the following attributes or features:

State: string
Account length: integer
Area code: integer
International plan: string
Voice mail plan: string
Number vmail messages: integer
Total day minutes: double
Total day calls: integer
Total day charge: double
Total eve minutes: double
Total eve calls: integer
Total eve charge: double
Total night minutes: double
Total night calls: integer
Total night charge: double
Total intl minutes: double
Total intl calls: integer
Total intl charge: double
Customer service calls: integer
Churn: string ( 0-loyal users, 1- churned users)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/telecom_churn.csv')

In [ ]:
df.head(5)

  State  Account length  ...  Customer service calls  Churn
0    KS             128  ...                       1  False
1    OH             107  ...                       1  False
2    NJ             137  ...                       0  False
3    OH              84  ...                       2  False
4    OK              75  ...                       3  False

[5 rows x 20 columns]

# 1. how many records are there where the state name starts with W

In [ ]:
def state_name():
    # write your code here
    return df.loc[df['State'].str.startswith('W')].shape[0] # write your code here

state_name()

327

# 2. Print the average total day minutes for all churn categories

In [ ]:
def category_total_minute():
    # write your code here
    return df.groupby('Churn')['Total day minutes'].mean() # write your code here
    
category_total_minute()

Churn
False    175.175754
True     206.914079
Name: Total day minutes, dtype: float64

# 3. The percentage of voice mail plan for churn=0 users

In [ ]:
def perc_voice_mail():
    # write your code here
    return df.loc[df['Churn']==False,'Voice mail plan'].value_counts()/df.loc[df['Churn']==False,'Voice mail plan'].value_counts().sum()*100 # write your code here
perc_voice_mail()

No     70.45614
Yes    29.54386
Name: Voice mail plan, dtype: float64

# 4. convert the international plan column to boolean - No - false and yes - True and display the datatype of that column

In [ ]:
def convert_bool():
    # write your code here
    df['International plan'].replace({'No': False, 'Yes':True},inplace=True)
    return df['International plan'].dtype # write your code here
convert_bool()

dtype('bool')

# 5. Average number of day, evening, and night calls by area code, area code on row and day, evening and night averages on column

In [ ]:
def avg_stat():
    # write your code here
    g=df.groupby('Area code')[['Total day calls','Total eve calls','Total night calls']].mean()
    return g # write your code here
avg_stat()

           Total day calls  Total eve calls  Total night calls
Area code
408             100.496420        99.788783          99.039379
415             100.576435       100.503927         100.398187
510             100.097619        99.671429         100.601190

# 6. display summary table for  churn wise international plan

In [ ]:
def churn_international():
    # write your code here
    g =df.groupby('Churn')
    return g['International plan'].value_counts() # write your code here
churn_international()

Churn  International plan
False  False                 2664
       True                   186
True   False                  346
       True                   137
Name: International plan, dtype: int64

# 7. Add an extra column called num_label which will be filled based on the total night calls with a margin of 1,25,50,75,100,200 and map to these labels 'Very Low','Low' ,'Medium','High','Very High'

In [ ]:
def change(x):
    if(x>1 and x<25):
      return 'Very Low'
    elif(x>25 and x<20):
      return 'Low'
    elif(x>50 and x<75):
      return 'Medium'
    elif(x>75 and x<100):
      return 'High'
    elif(x>100 and x<200):
      return 'Very High'

def add_col():
    # write your code here
    df['num_label'] = df['Total night calls'].apply(lambda x: change(x))
    return df.head(3)# write your code here
add_col()

  State  Account length  Area code  ...  Customer service calls  Churn  num_label
0    KS             128        415  ...                       1  False       High
1    OH             107        415  ...                       1  False  Very High
2    NJ             137        415  ...                       0  False  Very High

[3 rows x 21 columns]

# 8. find the sum of total charge for day, evening and night by area code

In [ ]:
def sum_total():
    # write your code here
    g=df.groupby('Area code')[['Total day charge','Total eve charge','Total night charge']].sum()
    return g # write your code here
sum_total()

           Total day charge  Total eve charge  Total night charge
Area code
408                25240.79          14337.60             7512.49
415                51092.06          28226.97            15046.92
510                25531.32          14374.87             7568.66

# 9. How many customers are there who made day calls below average and day charge was above average.
# store this customer details in another dataframe

In [ ]:
def select_custom():
    # write your code here
    m =df['Total day calls'].mean()
    ch = df['Total day charge'].mean()
    df2 = df.loc[(df['Total day calls']< m) & (df['Total day charge']>ch)]
    return df2 # write your code here)
select_custom()

     State  Account length  ...  Customer service calls  Churn
3       OH              84  ...                       2  False
5       AL             118  ...                       0  False
6       MA             121  ...                       3  False
8       LA             117  ...                       1  False
9       WV             141  ...                       0  False
...    ...             ...  ...                     ...    ...
3308    IA              45  ...                       1  False
3310    NY              94  ...                       2  False
3317    SD             163  ...                       1  False
3325    OH              78  ...                       2  False
3329    WV              68  ...                       3  False

[811 rows x 20 columns]

# 10. take the dataframe created by Q19 and compute the total minutes and convert the total minutes to hour and display 5 values

In [ ]:
def total_min():
    # write your code here
    df2 = select_custom()
    tot_min = (df2['Total day minutes'] + df2['Total eve minutes'] + df2['Total night minutes'])/60
    return tot_min.head(5)# write your code here
total_min()

3     9.303333
5    10.798333
6    12.988333
8    12.531667
9    13.450000
dtype: float64