<a href="https://colab.research.google.com/github/ColdCoffee21/Foundations-of-Data-Science/blob/master/eval_Exploratory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. Import data

In [ ]:
import pandas as pd

In [ ]:
insurance = pd.read_csv('https://raw.githubusercontent.com/dhanyahari07/Data_Science/master/insurance.csv')

insurance.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

# 1.The largest amount paid by the insurance company last year to any beneficiary . 2 Decimal Place

In [ ]:
def max_charge():
    return round(insurance.charges.max(),2)
max_charge()

63770.43

# 2. A table similar to insurance, but with only the rows for smokers, and without the smoker column.

In [ ]:
def new_table():
  new_ins=insurance[insurance['smoker']=='yes']
  new_ins.drop(columns=['smoker'],inplace=True)
  return new_ins

In [ ]:
new_table()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      age     sex     bmi  children     region      charges
0      19  female  27.900         0  southwest  16884.92400
11     62  female  26.290         0  southeast  27808.72510
14     27    male  42.130         0  southeast  39611.75770
19     30    male  35.300         0  southwest  36837.46700
23     34  female  31.920         1  northeast  37701.87680
...   ...     ...     ...       ...        ...          ...
1313   19  female  34.700         2  southwest  36397.57600
1314   30  female  23.655         3  northwest  18765.87545
1321   62    male  26.695         0  northeast  28101.33305
1323   42  female  40.370         2  southeast  43896.37630
1337   61  female  29.070         0  northwest  29141.36030

[274 rows x 6 columns]

# 3. Add column named predicted_paid that shows the amount we predict to pay to that beneficiary this year, if we predict that their cost this year will be the cost last year increased by 5% to insurance. round to 2 decimal places and enter

In [ ]:
def predcicted():
    insurance['predicted_paid']=round(insurance['charges']+((5/100)*insurance['charges']),2)
    return insurance

In [ ]:
predcicted()

      age     sex     bmi  ...     region      charges predicted_paid
0      19  female  27.900  ...  southwest  16884.92400       17729.17
1      18    male  33.770  ...  southeast   1725.55230        1811.83
2      28    male  33.000  ...  southeast   4449.46200        4671.94
3      33    male  22.705  ...  northwest  21984.47061       23083.69
4      32    male  28.880  ...  northwest   3866.85520        4060.20
...   ...     ...     ...  ...        ...          ...            ...
1333   50    male  30.970  ...  northwest  10600.54830       11130.58
1334   18  female  31.920  ...  northeast   2205.98080        2316.28
1335   18  female  36.850  ...  southeast   1629.83350        1711.33
1336   21  female  25.800  ...  southwest   2007.94500        2108.34
1337   61  female  29.070  ...  northwest  29141.36030       30598.43

[1338 rows x 8 columns]

# 4.  A table containing one row per region, listing for each region the total amount of charges paid by the insurance company last year to all beneficiaries in that region. round 1 decimal places

In [ ]:
def row_region():
    reg=insurance.groupby('region').sum()
    reg['charges']=reg['charges'].round(1)
    reg.reset_index(inplace=True)
    reg=reg[['region','charges']]

    return reg

In [ ]:
row_region()

      region    charges
0  northeast  4343668.6
1  northwest  4035712.0
2  southeast  5363689.8
3  southwest  4012754.6

# 5. The name of the region with the smallest number of beneficiaries.

In [ ]:
def smallest():
  r=insurance.groupby('region').count()
  r=r.sort_values('age')
  r=r.index[0]
  return r

In [ ]:
smallest()

'northeast'

# 6. Write a function that takes an age as a parameter, and returns the average BMI of all beneficiaries of that age. Round to 2 decimal points

In [ ]:
def avg_bmi(age):
  # Write your code here
  return round(insurance.loc[insurance.age==age,['bmi']].mean(),2)

In [ ]:
avg_bmi(18)

bmi    31.33
dtype: float64

In [ ]:
avg_bmi(61)

bmi    32.55
dtype: float64

# 7. The number of times the charges increased by more than $10,000.00 from one person to next in order

In [ ]:
def charge_increased():
    sum=0
    c=len(insurance)
    for i in range(0,c-1):
      if(insurance['charges'][i+1]>(insurance['charges'][i]+10000.00)):
        sum=sum+1
    return sum
charge_increased()

281

# 8. Whether or not the charges has ever been $2000.00 or less (your code should evaluate to True or False).

In [ ]:
def charge_less():
    two=insurance['charges'].min() <=2000
    return two
charge_less()

True

# 9. The probability of choosing a charge greater than $2500.00, if I pick one of the charge uniformly at random . 2 decimal place

In [ ]:
def prob_greater():
  s = insurance['charges']>2500
  return round(s.sum()/len(s),2)
prob_greater()

0.89

# Import data

In [ ]:
import pandas as pd
trip=pd.read_csv('https://raw.githubusercontent.com/data-8/materials-x18/master/lec/x18/1/trip.csv')

In [ ]:
trip.head()

   Trip ID  Duration       Start Date  ... Bike #  Subscriber Type Zip Code
0   913460       765  8/31/2015 23:26  ...    288       Subscriber     2139
1   913459      1036  8/31/2015 23:11  ...     35       Subscriber    95032
2   913455       307  8/31/2015 23:13  ...    468       Subscriber    94107
3   913454       409  8/31/2015 23:10  ...     68       Subscriber    95113
4   913453       789  8/31/2015 23:09  ...    487         Customer     9069

[5 rows x 11 columns]

# 10. Trip dataset Average duration of rentals that lasted more than two minutes. 2 decimal point

In [ ]:
def avg_duration():
    return round(trip[trip['Duration']>120]['Duration'].mean(),2)
avg_duration()

1054.17

# 11. Name the stations where most rentals ended

In [ ]:
def rent_end():
    return trip.groupby('End Station').count().sort_values('Trip ID',ascending=False).index[0]

rent_end()

'San Francisco Caltrain (Townsend at 4th)'

# 12. The number of stations for which the average duration ending at that station was atleat 300 seconds

In [ ]:
def avg_value():
    s=trip.groupby('End Station').mean()['Duration']>=300
    return s.sum()
avg_value()

70

# 13. The most popular subsciber type where the start terminal and end terminal is the same

In [ ]:
def sub_type():
    return trip.loc[trip['Start Station']==trip['End Station']].groupby('Subscriber Type').count().sort_values(by='Trip ID',ascending = False).index[0]
sub_type()

'Customer'

# 14. What is the average duration of the most popular bike#. 2 decimal point

In [ ]:
def avg_duration1():
     return round((trip[trip['Bike #']==trip['Bike #'].mode().values[0]]['Duration']).mean(),2)
avg_duration1()

898.14

# 15. What is the probability that the start station and end station are the same, 2 decimal points

In [ ]:
def prob_equal():
    df=trip[trip['Start Station']==trip['End Station']]
    return round(len(df)/len(trip),2)# Write your code here
prob_equal()

0.03

# 16. Least common subsciber with Startimg station as Mountain View City Hall

In [ ]:
def least_common():
    return trip.loc[trip['Start Station']=='Mountain View City Hall'].groupby('Subscriber Type').count().sort_values(by='Trip ID').index[0]# Write your code here
least_common()

'Customer'

# 17. What proportion of users have most common Subsciber types. 2 decimal places

In [ ]:
def proportion_subscriber():
    return round(len(trip[trip['Subscriber Type']== trip['Subscriber Type'].mode().values[0]]) / len(trip),2) # Write your code here
proportion_subscriber()

0.88

# Create dataframe

In [ ]:
a ={'time':['hr=01,rush=no','hr=13,rush=no','hr=08,rush=yes','hr=18,rush=yes'] ,'dt':['May 1','May 3','May 29','May 3'], 'spd':[70,59,37,30]}
b={'date':['Jan 1','May 1','Jun 13','May 3'],'day':['Mon','Wed','Sat','Thu']}

In [ ]:
# create a dataframe rush from dictionary a and date from dictionary b
rush = pd.DataFrame(a)
date = pd.DataFrame(b)
rush[['time','rush']] = rush['time'].str.split(',',expand=True)
rush

    time      dt  spd    date  day      rush
0  hr=01   May 1   70   Jan 1  Mon   rush=no
1  hr=13   May 3   59   May 1  Wed   rush=no
2  hr=08  May 29   37  Jun 13  Sat  rush=yes
3  hr=18   May 3   30   May 3  Thu  rush=yes

# 18. Calculate the average speed during rush hour.1 decimal point

In [ ]:
def avg_speed():
  f=rush.groupby('rush')['spd'].mean()
  return f['rush=yes']
avg_speed()

33.5

# 19. Create a table t with one row per recording in rush. Each row should contain the day of week, speed, hour of day as a two-character string, and whether the recording occurred during rush hour (either “yes” or “no”)

In [ ]:
def create_df():
  # Write your code here
  data=rush.merge(date, left_on='date', right_on='date')
  data=data.drop(['date','date'], axis=1)
  data['time']=data['time'].str[-2:]
  data['rush']=data['rush'].str[-2:] 
  return data
create_df()

  time      dt  spd day_x rush day_y
0   01   May 1   70   Mon   no   Mon
1   13   May 3   59   Wed   no   Wed
2   08  May 29   37   Sat   es   Sat
3   18   May 3   30   Thu   es   Thu

# 20. Use the result of above question as input. Find the minimum speed in a cluster sample with two clusters: take a sample of two unique values in day, then find the minimum speed across all recordings on those days of the week

In [ ]:
def min_speed():
  # Write your code here
  new_df=create_df()
  new_df= new_df.loc[new_df['day_x']=='Thu']
  return  min(new_df['spd'])# Write your code here
min_speed()

30