<a href="https://colab.research.google.com/github/ColdCoffee21/Foundations-of-Data-Science/blob/master/Assign_Machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import mode
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
import seaborn as sns
from matplotlib import pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
d = pd.read_csv('/content/drive/My Drive/Data Science/train.csv')

In [ ]:
a=d.copy()

In [ ]:
a['charges_2 (%)']=a['charges_2 (%)'].fillna(a.groupby(['Product_Category','Grade'])['charges_2 (%)'].transform('mean'))

In [ ]:
a['charges_1']=a['charges_1'].fillna(a.groupby(['Product_Category','Grade'])['charges_1'].transform('mean'))

In [ ]:
a['Discount_avail']=a['Discount_avail'].fillna(0)
a['Minimum_price'] = a['Minimum_price'].fillna(a['Minimum_price'].mean())
a['Maximum_price'] = a['Maximum_price'].fillna(a['Maximum_price'].mean())
a['Selling_Price'] = a['Selling_Price'].fillna(a['Selling_Price'].mean())

In [ ]:
common= a.pivot_table(values='Stall_no', columns=['Product_Category'],aggfunc=(lambda x:mode(x)[0]) )
common

Product_Category  Child_care  Cosmetics  ...  Repair  Technology
Stall_no                50.0       24.0  ...    20.0         2.0

[1 rows x 10 columns]

In [ ]:
temp= a['Stall_no'].isnull()
a.loc[temp,'Stall_no'] = a.loc[temp,'Product_Category'].apply(lambda x: common[x])

In [ ]:
a.isnull().sum()

Product_id            0
Stall_no              0
instock_date          0
Market_Category       0
Customer_name       159
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail        0
charges_1             0
charges_2 (%)         0
Minimum_price         0
Maximum_price         0
Selling_Price         0
dtype: int64

In [ ]:
data_train=a.copy()

In [ ]:
labelencoder=LabelEncoder()
data_train[['Loyalty_customer']] = labelencoder.fit_transform(data_train[['Loyalty_customer']])
data_train[['Product_Category']]=labelencoder.fit_transform(data_train[['Product_Category']])
data_train

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

            Product_id  Stall_no  ... Maximum_price  Selling_Price
0     BRAE2NF6JA5GUEXG      37.0  ...        4713.0    4185.947700
1     TUNE8SFB6RJN2HSD      38.0  ...       10352.0    9271.490256
2     BRAEAR7WZPQGPBZU       9.0  ...        7309.0    6785.701362
3     JWSEBUKYQPMBZ3RK       7.0  ...        9261.0     906.553935
4     SHOE6QGAYFFMBWG6       4.0  ...        5921.0    4820.943600
...                ...       ...  ...           ...            ...
4363  SWSEBHCP5YSCUU2S      13.0  ...       14174.0    8900.778096
4364  MUGE8DAUYGPWG9AE      17.0  ...         855.0    4538.353940
4365  SHOEF9G8Z4ZXF6WE      21.0  ...        4920.0    4501.837200
4366  PBXEB9ZQ7HHCFXYG      36.0  ...       14614.0   10218.878780
4367  CAGE53FSAFWZRHFF      11.0  ...        5383.0    5220.013568

[4368 rows x 15 columns]

In [ ]:
'''dt2=data_train.copy()
for i in range(0,len(data_train)):
    
    if(data_train['Selling_Price'][i]<0):
        data_train['Selling_Price'][i]=0'''

"dt2=data_train.copy()\nfor i in range(0,len(data_train)):\n    \n    if(data_train['Selling_Price'][i]<0):\n        data_train['Selling_Price'][i]=0"

In [ ]:
#na=data[data['Minimum_price'].isnull()]
#nna=data[data['Minimum_price'].isnull()==False]
'''X=nna.drop(['Product_id','instock_date','Customer_name','Minimum_price','Maximum_price','Selling_Price'],axis=1)
Y=nna[['Minimum_price']].values
X_test=na.drop(['Product_id','instock_date','Customer_name','Minimum_price','Maximum_price','Selling_Price'],axis=1)'''
'''reg2 = LinearRegression()
reg2.fit(X,Y)'''

'''na['Minimum_price'] = reg2.predict(X_test)'''
'''na.isnull().sum()'''
'''data=na.append(nna)'''
'''data.isnull().sum()'''
'''nna=data[data['Maximum_price'].isnull()==False]
na=data[data['Maximum_price'].isnull()]'''

"nna=data[data['Maximum_price'].isnull()==False]\nna=data[data['Maximum_price'].isnull()]"

In [ ]:
#
'''X=nna.drop(['Product_id','instock_date','Customer_name','Maximum_price','Selling_Price'],axis=1)
Y=nna[['Maximum_price']].values
X_test=na.drop(['Product_id','instock_date','Customer_name','Maximum_price','Selling_Price'],axis=1)'''

'''reg2.fit(X,Y)
na['Maximum_price'] = reg2.predict(X_test)'''

'''data=na.append(nna)'''

'''data.isnull().sum()'''

'''data['Selling_Price']=data['Selling_Price'].fillna((data['Minimum_price']+data['Maximum_price'])/2)'''

"data['Selling_Price']=data['Selling_Price'].fillna((data['Minimum_price']+data['Maximum_price'])/2)"

In [ ]:
data_train.isnull().sum()

Product_id            0
Stall_no              0
instock_date          0
Market_Category       0
Customer_name       159
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail        0
charges_1             0
charges_2 (%)         0
Minimum_price         0
Maximum_price         0
Selling_Price         0
dtype: int64

In [ ]:
X=data_train.drop(['Product_id','instock_date','Customer_name','Selling_Price'],axis=1)
Y=data_train[['Selling_Price']].values
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.33,random_state=0)
reg2 = LinearRegression()
reg2.fit(X_train,y_train)
y_pred = reg2.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = round(np.sqrt(mse),3)

In [ ]:
from sklearn.metrics import r2_score
print("R2-score: %.2f" % r2_score(y_test,y_pred) )

R2-score: 0.90

In [ ]:
rmse

980.802

In [ ]:
test=pd.read_csv('/content/drive/My Drive/Data Science/test_upload.csv')
sample=pd.read_csv('/content/drive/My Drive/Data Science/sample_submission.csv')

In [ ]:
test['charges_1']=test['charges_1'].fillna(test.groupby(['Product_Category','Grade'])['charges_1'].transform('mean'))
test['charges_2 (%)']=test['charges_2 (%)'].fillna(test.groupby(['Product_Category','Grade'])['charges_2 (%)'].transform('mean'))
test['Discount_avail']=test['Discount_avail'].fillna(0)
test['Minimum_price'] = test['Minimum_price'].fillna(test['Minimum_price'].mean())
test['Maximum_price'] = test['Maximum_price'].fillna(test['Maximum_price'].mean())

In [ ]:
common= test.pivot_table(values='Stall_no', columns=['Product_Category'],aggfunc=(lambda x:mode(x)[0]) )
common

Product_Category  Child_care  Cosmetics  ...  Repair  Technology
Stall_no                30.0       25.0  ...    34.0        23.0

[1 rows x 10 columns]

In [ ]:
temp= test['Stall_no'].isnull()
test.loc[temp,'Stall_no'] = test.loc[temp,'Product_Category'].apply(lambda x: common[x])

In [ ]:
data=test.copy()
labelencoder=LabelEncoder()
data[['Loyalty_customer']] = labelencoder.fit_transform(data[['Loyalty_customer']])
data[['Product_Category']]=labelencoder.fit_transform(data[['Product_Category']])
data

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

            Product_id  Stall_no  ... Minimum_price  Maximum_price
0     BLAE6DPHRB25VEHK      10.0  ...        8335.0        13617.0
1     RTRDYYTZVSFZQXWF      49.0  ...        1429.0         2178.0
2     PBXEAP3SGKSH89XC      43.0  ...        3755.0         5429.0
3     TOPDQAUYZKH2GDTM       5.0  ...        3339.0         4327.0
4     PCSE76X4QXVW9KG9      49.0  ...        6442.0         8919.0
...                ...       ...  ...           ...            ...
1995  INKECA5VFTCGF77E      37.0  ...         457.0         1356.0
1996  ACCEHHR5ESZAXDPA       1.0  ...        5454.0         6767.0
1997  SHOEBGDMKUF33QYC      36.0  ...         689.0         2488.0
1998  DUPEGNY4RYYXGJH6      29.0  ...        3882.0         9759.0
1999  SWTEDMX4BW4KYHZS      14.0  ...        2976.0         4145.0

[2000 rows x 14 columns]

In [ ]:
data.isnull().sum()

Product_id           0
Stall_no             0
instock_date         0
Market_Category      0
Customer_name       52
Loyalty_customer     0
Product_Category     0
Grade                0
Demand               0
Discount_avail       0
charges_1            0
charges_2 (%)        0
Minimum_price        0
Maximum_price        0
dtype: int64

In [ ]:
X_train=data_train.drop(['Product_id','instock_date','Customer_name','Selling_Price'],axis=1)
Y_train=data_train[['Selling_Price']].values
X_test=data.drop(['Product_id','instock_date','Customer_name'],axis=1)

#X_train[['Market_Category']] = scaler.fit_transform(X_train[['Market_Category']]) 
#X_train[['charges_1']]= scaler.fit_transform(X_train[['charges_1']]) 
#X_train[['charges_2 (%)']]= scaler.fit_transform(X_train[['charges_2 (%)']]) 
#X_train[['Minimum_price']]= scaler.fit_transform(X_train[['Minimum_price']]) 
#X_train[['Maximum_price']]= scaler.fit_transform(X_train[['Maximum_price']]) 

#X_test[['Market_Category']] = scaler.fit_transform(X_test[['Market_Category']]) 
#X_test[['charges_1']]= scaler.fit_transform(X_test[['charges_1']]) 
#X_test[['charges_2 (%)']]= scaler.fit_transform(X_test[['charges_2 (%)']]) 
#X_test[['Minimum_price']]= scaler.fit_transform(X_test[['Minimum_price']]) 
#X_test[['Maximum_price']]= scaler.fit_transform(X_test[['Maximum_price']]) 

reg2 = LinearRegression()
#reg2=Lasso()
reg2.fit(X_train,Y_train)
data['Selling_Price'] = reg2.predict(X_test)

In [ ]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor

In [ ]:
sample_sub=data[['Product_id','Selling_Price']]

##

In [ ]:
sample_sub

            Product_id  Selling_Price
0     BLAE6DPHRB25VEHK   10644.455805
1     RTRDYYTZVSFZQXWF    1923.258679
2     PBXEAP3SGKSH89XC    4823.820757
3     TOPDQAUYZKH2GDTM    4138.692060
4     PCSE76X4QXVW9KG9    4664.069629
...                ...            ...
1995  INKECA5VFTCGF77E    1314.472879
1996  ACCEHHR5ESZAXDPA    6834.908326
1997  SHOEBGDMKUF33QYC    2181.888946
1998  DUPEGNY4RYYXGJH6    4231.858275
1999  SWTEDMX4BW4KYHZS     506.935692

[2000 rows x 2 columns]

In [ ]:
sample

            Product_id  Selling_Price
0     BLAE6DPHRB25VEHK              0
1     RTRDYYTZVSFZQXWF              0
2     PBXEAP3SGKSH89XC              0
3     TOPDQAUYZKH2GDTM              0
4     PCSE76X4QXVW9KG9              0
...                ...            ...
1982  INKECA5VFTCGF77E              0
1983  ACCEHHR5ESZAXDPA              0
1984  SHOEBGDMKUF33QYC              0
1985  DUPEGNY4RYYXGJH6              0
1986  SWTEDMX4BW4KYHZS              0

[1987 rows x 2 columns]

In [ ]:
l=sample_sub.merge(sample,left_on=sample_sub['Product_id'],right_on=sample['Product_id'])

In [ ]:
l

                 key_0      Product_id_x  ...      Product_id_y Selling_Price_y
0     BLAE6DPHRB25VEHK  BLAE6DPHRB25VEHK  ...  BLAE6DPHRB25VEHK               0
1     RTRDYYTZVSFZQXWF  RTRDYYTZVSFZQXWF  ...  RTRDYYTZVSFZQXWF               0
2     PBXEAP3SGKSH89XC  PBXEAP3SGKSH89XC  ...  PBXEAP3SGKSH89XC               0
3     TOPDQAUYZKH2GDTM  TOPDQAUYZKH2GDTM  ...  TOPDQAUYZKH2GDTM               0
4     PCSE76X4QXVW9KG9  PCSE76X4QXVW9KG9  ...  PCSE76X4QXVW9KG9               0
...                ...               ...  ...               ...             ...
1982  INKECA5VFTCGF77E  INKECA5VFTCGF77E  ...  INKECA5VFTCGF77E               0
1983  ACCEHHR5ESZAXDPA  ACCEHHR5ESZAXDPA  ...  ACCEHHR5ESZAXDPA               0
1984  SHOEBGDMKUF33QYC  SHOEBGDMKUF33QYC  ...  SHOEBGDMKUF33QYC               0
1985  DUPEGNY4RYYXGJH6  DUPEGNY4RYYXGJH6  ...  DUPEGNY4RYYXGJH6               0
1986  SWTEDMX4BW4KYHZS  SWTEDMX4BW4KYHZS  ...  SWTEDMX4BW4KYHZS               0

[1987 rows x 5 columns]

In [ ]:
final=l[['Product_id_x','Selling_Price_x']]

In [ ]:
final.columns=sample.columns

In [ ]:
final.reset_index(drop=True, inplace=True)

In [ ]:
final

            Product_id  Selling_Price
0     BLAE6DPHRB25VEHK   10492.332211
1     RTRDYYTZVSFZQXWF    2372.772531
2     PBXEAP3SGKSH89XC    4765.845956
3     TOPDQAUYZKH2GDTM    4047.833746
4     PCSE76X4QXVW9KG9    3148.925780
...                ...            ...
1982  INKECA5VFTCGF77E    1568.019461
1983  ACCEHHR5ESZAXDPA    6235.474190
1984  SHOEBGDMKUF33QYC    2203.358252
1985  DUPEGNY4RYYXGJH6    2426.769182
1986  SWTEDMX4BW4KYHZS    -530.459137

[1987 rows x 2 columns]

In [ ]:
for i in range(0,len(final)):
    
    if(final['Selling_Price'][i]<0):
        final['Selling_Price'][i]=0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
final

            Product_id  Selling_Price
0     BLAE6DPHRB25VEHK   10644.455805
1     RTRDYYTZVSFZQXWF    1923.258679
2     PBXEAP3SGKSH89XC    4823.820757
3     TOPDQAUYZKH2GDTM    4138.692060
4     PCSE76X4QXVW9KG9    4664.069629
...                ...            ...
1982  INKECA5VFTCGF77E    1314.472879
1983  ACCEHHR5ESZAXDPA    6834.908326
1984  SHOEBGDMKUF33QYC    2181.888946
1985  DUPEGNY4RYYXGJH6    4231.858275
1986  SWTEDMX4BW4KYHZS     506.935692

[1987 rows x 2 columns]

In [ ]:
final.to_csv('submission1.csv')

In [ ]:
sample

            Product_id  Selling_Price
0     BLAE6DPHRB25VEHK              0
1     RTRDYYTZVSFZQXWF              0
2     PBXEAP3SGKSH89XC              0
3     TOPDQAUYZKH2GDTM              0
4     PCSE76X4QXVW9KG9              0
...                ...            ...
1982  INKECA5VFTCGF77E              0
1983  ACCEHHR5ESZAXDPA              0
1984  SHOEBGDMKUF33QYC              0
1985  DUPEGNY4RYYXGJH6              0
1986  SWTEDMX4BW4KYHZS              0

[1987 rows x 2 columns]

In [ ]:
data_train[data_train['Selling_Price']<0].size

150

In [ ]:
final[final['Selling_Price']<0].size

0

#Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
X=data_train.drop(['Product_id','instock_date','Customer_name','Selling_Price'],axis=1)
Y=data_train[['Selling_Price']].values

In [ ]:
X

      Stall_no  Market_Category  ...  Minimum_price  Maximum_price
0         37.0                2  ...         2983.0         4713.0
1         38.0               24  ...         7495.0        10352.0
2          9.0              447  ...         5752.0         7309.0
3          7.0               63  ...         2430.0         9261.0
4          4.0               23  ...         3596.0         5921.0
...        ...              ...  ...            ...            ...
4363      13.0              358  ...         3205.0        14174.0
4364      17.0              358  ...          487.0          855.0
4365      21.0               55  ...         3564.0         4920.0
4366      36.0              358  ...         5303.0        14614.0
4367      11.0               58  ...         3975.0         5383.0

[4368 rows x 11 columns]

In [ ]:
X["charges_2 (%)"].max()

17.0

In [ ]:
#scaler = MinMaxScaler()
scaler = StandardScaler()
# transform data
X[['Market_Category']] = scaler.fit_transform(data_train[['Market_Category']]) 
X[['charges_1']]= scaler.fit_transform(data_train[['charges_1']]) 
#idk about these
#X[['charges_2 (%)']]= scaler.fit_transform(data_train[['charges_2 (%)']]) 
#X[['Minimum_price']]= scaler.fit_transform(data_train[['Minimum_price']]) 
#X[['Maximum_price']]= scaler.fit_transform(data_train[['Maximum_price']]) 
X

      Stall_no  Market_Category  ...  Minimum_price  Maximum_price
0         37.0        -1.147961  ...         2983.0         4713.0
1         38.0        -1.018508  ...         7495.0        10352.0
2          9.0         1.470525  ...         5752.0         7309.0
3          7.0        -0.789023  ...         2430.0         9261.0
4          4.0        -1.024392  ...         3596.0         5921.0
...        ...              ...  ...            ...            ...
4363      13.0         0.946828  ...         3205.0        14174.0
4364      17.0         0.946828  ...          487.0          855.0
4365      21.0        -0.836097  ...         3564.0         4920.0
4366      36.0         0.946828  ...         5303.0        14614.0
4367      11.0        -0.818444  ...         3975.0         5383.0

[4368 rows x 11 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.33,random_state=0)
reg3 = LinearRegression()
reg3.fit(X_train,y_train)
y_pred = reg3.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = round(np.sqrt(mse),3)
print(rmse)
#980.802

980.802

In [ ]:
print("R2-score: %.2f" % r2_score(y_test,y_pred) )

R2-score: 0.90

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.34,random_state=0)
reg3 = LinearRegression()
reg3.fit(X_train,y_train)
y_pred = reg3.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = round(np.sqrt(mse),3)
print(rmse)

972.721

In [ ]:
X_test

      Stall_no  Market_Category  ...  Minimum_price  Maximum_price
4242      43.0              358  ...         5325.0        17200.0
1127      43.0               65  ...         3359.0         4821.0
3608      27.0              188  ...         2890.0         3957.0
2565      44.0              204  ...         3589.0         9931.0
1824      46.0                3  ...         2233.0         3930.0
...        ...              ...  ...            ...            ...
2590      46.0               14  ...         4126.0         6020.0
589       47.0              467  ...         7117.0         9990.0
4235       9.0               24  ...         4313.0         5494.0
2183       5.0              165  ...         2625.0         3883.0
2902      25.0              205  ...         2164.0         3479.0

[1486 rows x 11 columns]

In [ ]:
X_test2

      Stall_no  Market_Category  ...  Maximum_price  Selling_Price
0         10.0              358  ...        13617.0   10389.670435
1         49.0              115  ...         2178.0    2393.381113
2         43.0              220  ...         5429.0    4776.652628
3          5.0               14  ...         4327.0    4045.812847
4         49.0               24  ...         8919.0    3060.536590
...        ...              ...  ...            ...            ...
1995      37.0              363  ...         1356.0    1552.189443
1996       1.0              451  ...         6767.0    6202.162716
1997      36.0               65  ...         2488.0    2204.731869
1998      29.0               63  ...         9759.0    2350.487122
1999      14.0              450  ...         4145.0    -579.921883

[2000 rows x 12 columns]

In [ ]:
X_train=data_train.drop(['Product_id','instock_date','Customer_name','Selling_Price'],axis=1)
Y_train=data_train[['Selling_Price']].values
X_test=data.drop(['Product_id','instock_date','Customer_name'],axis=1)
reg2 = LinearRegression()
reg2.fit(X_train,Y_train)
data['Selling_Price'] = reg2.predict(X_test)

In [ ]:
X_test2=data.drop(['Product_id','instock_date','Customer_name','Selling_Price'],axis=1)
data['Selling_Price'] = reg3.predict(X_test2)
sample_sub=data[['Product_id','Selling_Price']]
l=sample_sub.merge(sample,left_on=sample_sub['Product_id'],right_on=sample['Product_id'])
final=l[['Product_id_x','Selling_Price_x']]
final.columns=sample.columns
final.reset_index(drop=True, inplace=True)

In [ ]:
for i in range(0,len(final)):
    if(final['Selling_Price'][i]<0):
        final['Selling_Price'][i]=0
print(final)

            Product_id  Selling_Price
0     BLAE6DPHRB25VEHK   10491.377474
1     RTRDYYTZVSFZQXWF    2371.510761
2     PBXEAP3SGKSH89XC    4760.670491
3     TOPDQAUYZKH2GDTM    4042.250295
4     PCSE76X4QXVW9KG9    3135.969770
...                ...            ...
1982  INKECA5VFTCGF77E    1569.577352
1983  ACCEHHR5ESZAXDPA    6230.886087
1984  SHOEBGDMKUF33QYC    2203.970124
1985  DUPEGNY4RYYXGJH6    2419.173841
1986  SWTEDMX4BW4KYHZS     250.000000

[1987 rows x 2 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

#Submission Code

In [ ]:
final.to_csv("my_submission.csv", index=False, header=True)

In [ ]:
files.download('my_submission.csv')

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.9)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)

In [ ]:
# submit the file to kaggle
!kaggle competitions submit datascience-ml -f my_submission.csv -m "Submitted my file through the Google Colab! 10"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.9 / client 1.5.4)
100% 67.2k/67.2k [00:08<00:00, 7.87kB/s]
Successfully submitted to DataScience_ML

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"dheerajvarghese","key":"f69518f98fc3fe73030d18ef716dff7c"}'}

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/